@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: #222838;
  color: white;
}

.heading {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2e64d8;
}
.checkOut {
  position: relative;
  z-index: 99;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}
.checkOut::after {
  content: "";
  width: 200px;
  height: 50px;
  background-color: #ff385c;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  /* filter: blur(70px); */
  transition: 0.4s ease-in-out;
}
.checkOut:active::after {
  left: 0px;
  transition: 0.4s ease-in-out;
}
.hero {
  background-image: url(./assets/image/header-slider-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #222838, rgba(34, 40, 56, 0.473));
  z-index: -1;
}

.card {
  border: 1px solid #ff385c;
  transition: 0.3s ease-in;
  position: relative;
}

.card::after {
  content: "";
  width: 300px;
  height: 300px;
  background-color: #2e64d8;
  position: absolute;
  top: 100px;
  right: 20px;
  z-index: -1;
  filter: blur(70px);
}

.card:hover {
  border: 1px solid #40c642;
}
.cardImage {
  filter: grayscale(100%) blur(1.5px);
  transition: 0.3s linear;
}

.card:hover .cardImage {
  filter: grayscale(0%);
}

.footer {
  background-color: rgba(0, 0, 0, 0.151);
  padding: 40px 0;
  position: relative;
}

.footer::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #40c642;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
}
.footer:hover:before {
  width: 200%;
}
.footer::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #0cc486;
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: -1;
  filter: blur(90px);
}

/* .login {
  width: 400px;
  background-color: black;
  padding: 20px;
} */

.res-nav {
  position: relative;
  padding: 8px 4px;
  display: block;
  width: 100%;
  text-align: center;
  margin: 2px;
  transition: 0.3s linear;
}
.res-nav::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: gainsboro;
  bottom: 0;
  left: 0;
  transition: 0.3s linear;
}

.res-nav.active::after {
  background-color: #0cc486;
  transition: 0.3s linear;
}
.res-nav.active {
  color: #0cc486;
  transition: 0.3s linear;
}
.aboutImage {
  position: relative;
}
.aboutImage::after {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #2e64d8;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: -1;
  filter: blur(70px);
}
.heroImage {
  position: relativex;
}
.heroImage::after {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #2e64d8;
  position: absolute;
  top: 100px;
  right: 20px;
  z-index: -1;
  filter: blur(70px);
}

.content {
  position: relative;
}

.content::after {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #2e64d8;
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: -1;
  filter: blur(99px);
  opacity: 0.8;
}

.loderSeimble {
  filter: grayscale(100%);
}
